# Created by .ignore support plugin (hsz.mobi)
/test/
/.idea/
/docs/
#/package-lock.json

### npm template
.idea
~ci.list.txt
~ci.log.txt
~ci.errors.txt
*.stackdump
*.bak
*.old
tsconfig.json
package-lock.json
test
.github
.gitkeep
/.*
#package-lock.json
/typedoc.config.js
/script/
### jsonly template
*.ts
!*.d.ts
*.tmp
### jsonly_bin template
bin/*.ts
/pre-commit-hook.bat
### tsonly_test template
test/*.js
test/*.d.ts
tests/*.js
tests/*.d.ts
__test__/*.js
__test__/*.d.ts
__tests__/*.js
__tests__/*.d.ts
### test template
*.spec.ts
*.spec.js
*.spec.js.map
*.test.ts
*.test.js
*.test.js.map
### npm2 template
tests
/~*
__test__
__tests__
/node_modules/
**/node_modules/
### Example user template template
### Example user template
# IntelliJ project files
*.iml
out
gen
### git_ts_bin template
bin/*.d.ts
### temp template
/*.log
/*.lock
/cjk-conv.d.ts
