# Created by .ignore support plugin (hsz.mobi)
/test/
/.idea/
/docs/
#/package-lock.json
### npm template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
package-lock.json

test

.github
.gitkeep

/.*
### npm template



#package-lock.json



/typedoc.config.js
/script/
/pre-commit-hook.bat
